.news-list {

}

@media screen and (min-width: 1024px) {
    .news-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;

        app-news-card {
            width: 50%;
            padding: 0 16px;
            box-sizing: border-box;
        }
    }
}

@media screen and (min-width: 1920px) {
    .news-list-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .news-list {
        display: flex;
        flex-wrap: wrap;
        width: 80%;

        app-news-card {
            width: 33.33%;
            padding: 0 16px;
            box-sizing: border-box;
        }
    }
}